// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #2d4059;
$body-color: #e5e5e5;
$primary: #decdc3;
$font-family-base: Arial;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}
