// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #2d4059;
$body-color: #e5e5e5;
$primary: #decdc3;
$font-family-base: Arial;
$jumbotron-bg: #2d4059;
$jumbotron-color: #decdc3;
$white: #2d4059;
$card-cap-bg: rgba(45, 64, 89, 1);
$black: rgba(45, 64, 89, 1);
$card-color: #2d4059;

$btn-focus-box-shadow: #e5e5e5;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS
.masthead-brand {
  color: #decdc3;
}
.btn-farbe {
  color: #2d4059;
}
body {
  margin: 20px;
}
.nav-item {
  font-weight: 600;
}
.platz {
  padding-top: 6rem;
  padding-left: 7rem;
}

h5 {
  font-weight: 600;
  color: #decdc3;
}

#This {
  margin: 5px 0px 40px 0px;
}
#Top5 {
  margin: 5px 0px 40px 0px;
}
#Tanz {
  margin: 5px 0px 40px 0px;
}
.card-body {
  background-color: #2d4059;
}
// .footer-bg {
// background-color: #2d4059;
// }
// .div.card-body {
// background-color: #2d4059;
// }
